.logo {
  width: 230px;
  float: left;
}

header {
  background: #f2f2f2;
  /*ヘッダーの背景色 */
  color: #fff;
  /* ヘッダーの文字色 */
  padding: 9px;
}
.home {
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
}
.question {
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
}
.search {
  width: 20%;
}

::placeholder {
  color: #e6e6e6;
  text-align: left;
}
.POST {
  width: 10%;
  background-color: #7f7f7f;
}

nav {
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: #fff;
  color: #000;
  /* ナビの文字色 */
  padding: 9px;
  /* ナビの上下左右の間隔 */
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: #fff;
  max-width: 1980px;
}

main {
  float: right;
  width: 80%;
  padding: 2px;
  box-sizing: border-box;
}

h1 {
  margin: 2px 0;
  font-size: 15px;
  font-weight: normal;
}
h2 {
  margin: 10px 0;
  background-color: #fff;
}

h3 {
  margin: 2px 0;
}

section {
  background: #fff;
  color: #000;
  padding: 10px;
  /* margin-bottom: 9px; */
}
.box1 {
  background: #8faadc;
  color: #000;
  padding: 2px;
  margin-bottom: 5px;
}
.box2 {
  background: #ffd966;
  color: #000;
  padding: 2px;
  margin-bottom: 5px;
}
.box3 {
  background: #ff6969;
  color: #000;
  padding: 2px;
  margin-bottom: 5px;
}
article {
  background: #fff;
  color: #000;
  padding: 9px;
  margin: 10px;
  font-size: 28px;
  font-weight: bolder;
}

aside {
  float: left;
  width: 20%;

  padding: 9px;
  box-sizing: border-box;
  background-color: #fff2cc;
  border: 2px solid #fff;
}

p .rank {
  height: 80%;
  background: #fff;
  color: #000;
  padding: 9px;
  font-family: "Arial", "BIZ UDPゴシック";
}
footer {
  background: #dd7663;
  color: #fff;
  padding: 9px;
}

.container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}
.article-category {
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.unsolved-category {
  background-color: #8faadc;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.Notanswered-category {
  background-color: #ffd966;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.answered-category {
  background-color: #ff6969;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.item-list {
  position: relative;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: left; /* 中央寄せ */
}
h4 {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}
.item {
  position: relative;
  left: 20px;
  justify-content: right; /* 中央寄せ */
  font-size: 25px;
}
.ranking_logo {
  font-size: 25px;

  box-sizing: border-box;
}
.rank {
  left: 12px;
  position: relative;
  margin: 0px 25px 0px 0px;
  font-size: 25px;
}
