.logo {
  width: 20%;
}

header {
  background: #f2f2f2;
  /*ヘッダーの背景色 */
  color: #fff;
  /* ヘッダーの文字色 */
  padding: 9px;
}
.home {
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
}

.question {
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
}

.search {
  width: 20%;
  background-color: #7f7f7f;
}
::placeholder {
  color: #e6e6e6;
  text-align: left;
}

.POST {
  width: 10%;
  background-color: #7f7f7f;
}

nav {
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: #fff;
  color: #000;
  /* ナビの文字色 */
  padding: 9px;
  /* ナビの上下左右の間隔 */
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: #fff;
  max-width: 1980px;
}

main {
  border-radius: 40px; /*要素を丸くする */
  border-width: 100px; /* 上、右、下、左の順に指定 */
  float: right;
  width: 80%;
  background: #fff;
  padding: 9px;
  box-sizing: border-box;
  border: 2px solid black; /* 2pxの幅で黒い縁線を追加 */
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px; /* 右側に20pxのパディングを設定 */
  /* 右側に20pxのパディングを設定 */
}

h1 {
  margin: 2px 0;
  font-size: 15px;
  font-weight: normal;
}
h2 {
  margin: 10px 0;
  background-color: #fff;
}

h3 {
  margin: 2px 0;
}
h4 {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

section {
  background: #fff;
  color: #000;
  padding: 10px;
  /* margin-bottom: 9px; */
}
.box1 {
  background: #8faadc;
  color: #000;
  padding: 2px;
  margin-bottom: 5px;
}
.box2 {
  background: #ffd966;
  color: #000;
  padding: 2px;
  margin-bottom: 5px;
}
.box3 {
  background: #ff6969;
  color: #000;
  padding: 2px;
  margin-bottom: 5px;
}
article {
  background: #fff;
  color: #000;
  padding: 9px;
  margin: 10px;
  font-size: 28px;
  font-weight: bolder;
}

aside {
  float: left;
  width: 20%;

  padding: 9px;
  box-sizing: border-box;
  background-color: #fff2cc;
  border: 2px solid #fff;
  padding-right: ; /* 右側に20pxのパディングを設定 */
}

p .rank {
  height: 80%;
  background: #fff;
  color: #000;
  padding: 9px;
  font-family: "Arial", "BIZ UDPゴシック";
}

.container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}
.article-category {
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.unsolved-category {
  background-color: #8faadc;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.Notanswered-category {
  background-color: #ffd966;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.answered-category {
  background-color: #ff6969;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.item-list {
  position: relative;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: left; /* 中央寄せ */
}

.item {
  line-height: 200%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
  position: relative;
  left: 20px;
  justify-content: right; /* 中央寄せ */
  font-size: 25px;
}
.head {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  position: relative;
  left: 20px;
  box-sizing: border-box;
}
.rank {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
  left: 12px;
  position: relative;
  margin: 0px 25px 0px 0px;
  font-size: 25px;
}
.icon {
  width: 30px;
}
