@media screen and (min-width: 481px) {
  body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 1980px;
  }

  a {
    position: relative;
    z-index: 10;
  }

  h1 {
    margin: 2px 0;
    font-size: 15px;
    font-weight: normal;
  }

  h2 {
    margin: 10px 0;
    background-color: #fff;
  }

  h3 {
    margin: 2px 0;
  }

  h4 {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
  }

  .background {
    background-color: #f2f2f2;
    border: 10px solid #e3e9ee;
    /* ページ全体に10pxの灰色のボーダーを設定 */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  header {
    background-color: #f2f2f2;
    /* ヘッダーの背景色を設定 */
    color: #fff;
    /* テキストの色を設定 */
    padding: 10px;
    /* 内側の余白を設定 */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 98.3%;
    border: 2px solid white;
    margin-bottom: 10px;
  }

  .home {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
    font-family: "Arial Black";
    text-decoration: none;
    margin-right: 5px;
    margin-left: 15px;
    font-size: 25px;
  }

  .question {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
    font-family: "Arial Black";
    text-decoration: none;
    margin-right: 15px;
    font-size: 25px;
  }

  .search-form {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
  }

  .search {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px 0 0 8px;
    width: 250px;
    background-color: #f8f8f8;
    border: 2px solid #7f7f7f;
    font-size: 25px;
  }

  ::placeholder {
    color: #e6e6e6;
    text-align: left;
    font-family: "Arial Black", "MS Gothic";
    padding-left: 3px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;

    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  .notification {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 29px;
  }

  .login {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 8px;
    font-family: "Arial Black";
    color: white;
    background-color: #afdfe4;
    border: #afdfe4;
    border-radius: 8px 8px 8px 8px;
    font-size: 25px;
    text-decoration: none;
  }

  .post {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 10px;
    font-family: "Arial Black";
    color: white;
    background-color: #92d050;
    border: #92d050;
    border-radius: 8px 8px 8px 8px;
    font-size: 25px;
    text-decoration: none;
  }

  .logo img {
    margin-left: 5px;
    margin-right: 40px;
    max-width: 150px;

    /* ロゴ画像の
最大幅を設定 */
  }

  nav ul {
    list-style: none;
    /* リストのマーカーを非表示に */
    padding: 0;
    display: flex;
    gap: 30px;
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
  }

  .container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .container::after {
    content: "";
    clear: both;
    display: block;
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: 900px;
    height: 450px;
    margin-left: 38px;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 6px;
    padding-left: 2px;
    padding-right: 8px;
    /* 右側に20pxのパディングを設定 */
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 865px;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    height: 440px;
    width: 860px;
    left: 10px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 3px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 6px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  a.article {
    text-decoration: none;
  }
  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .answers-num {
    float: right;
    padding-right: 80px;
  }

  .box2 {
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 6px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
  }

  .box3 {
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 6px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
    font-size: 28px;
    font-weight: bolder;
    word-wrap: break-word;
  word-break: keep-all;
  }

  aside {
    float: left;
    width: 230px;
    height: 450px;
    padding: 3px;
    box-sizing: border-box;
    background-color: #fff2cc;
    border: 2px solid #bf9000;
    border-radius: 20px;
    position: relative;
    display: inline;
    word-wrap: break-word;
  word-break: keep-all;
  }

  aside::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 435px;
    background-color: black;
    position: absolute;
    top: 5px;
    right: -20px;
  }

  .head {
    font-family: "Arial Black";
    font-size: 30px;
    margin-left: 11px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
  }

  .rank {
    font-family: Arial Black;
    left: 12px;
    position: relative;
    margin: 0px 25px 0px 0px;
    font-size: 25px;
  }

  .item {
    margin: 2px;
    line-height: 34px;
    font-family: Arial, "BIZ UDGothic";
    position: relative;
    left: 20px;
    justify-content: right;
    /* 中央寄せ */
    font-size: 25px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .item-list {
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* 中央寄せ */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .article-category {
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 5px 8px 5px 8px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 5px 8px 5px 8px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 5px 8px 5px 8px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .format-private {
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 5px 8px 5px 8px;
  }
  .format-exchange {
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 8px 5px 8px;
  }
  .format-qa {
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 8px 5px 8px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  .unsolved-category-answer {
    margin-left: 700px;
  }

  .Notanswered-category-answer {
    margin-left: 700px;
    /* .unsolved-category-answer と同じスタイルを持たせる */
  }

  .answered-category-answer {
    margin-left: 700px;
    /* .unsolved-category-answer と同じスタイルを持たせる */
  }

  /* ここからモーダルウィンドウ */

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    /* 背景が半透明になるように設定 */
  }

  /* モーダルウィンドウ */
  #modal {
    display: flex;
    flex-direction: column;
    /* 列方向に配置 */
    position: fixed;
    top: 55%;
    left: 60%;
    width: 350px;
    color: #000000;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    /* 最前面に表示 */
    padding: 8px 16px;
  }

  .setting {
    position: relative;
    /* 相対位置を指定 */
    left: 280px;
    bottom: 55px;
    cursor: pointer;
    /* カーソルをポインタに変更 */
    margin-right: 280px;
  }

  .content {
    position: relative;
    /* 相対位置を指定 */
    margin-bottom: 250px;
    bottom: 70px;

    margin-top: 10px;
    /* 適切なマージンを追加 */
    border-top: 1px solid #000;
    /* ボーダーを追加 */
    padding-top: 20px;
    /* 適切なパディングを追加 */
  }

  .list {
    border-top: 1px solid #000;
    /* ボーダーを追加 */
    margin-top: auto;
    text-align: center;
    /* 文字を中央揃えにする */
    cursor: pointer;
    /* カーソルをポインタに変更 */
    color: blue;
    /* リンクの色を設定 */
    text-decoration: underline;
    /* 下線を表示 */
    padding: 16px 0px;
  }

  /* ここまでがモーダルウィンドウ */
}



@media (max-width: 430px) and (max-height: 932px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 300px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: left 10px top 6px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;

    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 15px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 380x;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 400px;
    height: 855px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 382px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box2 {
    width: 382px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box3 {
    width: 382px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
  }

  .logo img {
    display: none;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 10px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 10px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 10px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}




@media (max-width: 414px) and (max-height: 896px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 300px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left 10px top 10px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;

    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 15px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 370x;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 385px;
    height: 820px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 365px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box2 {
    width: 365px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box3 {
    width: 365px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
  }

  .logo img {
    display: none;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 10px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 10px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 10px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}
@media (max-width: 412px) and (max-height: 915px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 300px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left 10px top 10px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;

    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 15px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 370x;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 382px;
    height: 820px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 364px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box2 {
    width: 364px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box3 {
    width: 364px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
  }

  .logo img {
    display: none;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 10px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 10px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 10px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}
@media (max-width: 412px) and (max-height: 914px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 300px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left 10px top 10px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;

    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 15px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 370x;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 382px;
    height: 833px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 364px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box2 {
    width: 364px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  .box3 {
    width: 364px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
  }

  .logo img {
    display: none;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 10px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 10px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 10px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}
@media (max-width: 390px) and (max-height: 844px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 300px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left 10px top 10px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;

    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 15px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }


  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float:right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 350px;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 359px;
    height: 767px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 342px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  

  .box2 {
    width: 342px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }


  .box3 {
    width: 342px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    word-wrap: break-word;
  word-break: keep-all;
    /* 他の要素より手前に配置 */
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
  }

  .logo img {
    display: none;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num{
    display: none;
  }

  .article-category {
    font-size: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private{
    font-size: 10px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange{
    font-size: 10px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa{    
    font-size: 10px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }


  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
  .PostDay{
    font-family: 'Roboto', 'Noto Sans', 'Open Sans', sans-serif;
  font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
  color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }
  
  .UserName{
  font-family: 'Noto Sans JP', sans-serif;
  }


  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
} 
@media (max-width: 375px) and (max-height: 667px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 330px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left 10px top 10px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
     height: 22px;
    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 50px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 338px;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 345px;
    height: 590px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 330px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .box2 {
    width: 330px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .box3 {
    width: 330px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 10px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 10px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 10px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 330px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left 10px top 10px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
     height: 22px;
    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 50px;
  }

  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 22px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 321px;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 330px;
    height: 666px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 314px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .box2 {
    width: 314px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .box3 {
    width: 314px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 9px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 9px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 9px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 9px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}
@media (max-width: 280px) and (max-height: 653px) {
  body {
    margin-left: auto;
    /* margin-right: auto;
    margin-top: 0; */
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    max-width: 330px;
    background-color: #f2f2f2;
  }

  #body {
    background-image: url("./T-CHAT-Image/T-CHAT_icon.png");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left 10px top 16px; /* 背景画像を右に10ピクセル、下に30ピクセル移動 */
  }

  .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
     height: 22px;
    border-radius: 3px, 0px, 0px, 3px;
    margin-left: 55px;
  }
  .search{
    width: 130px;
  }
  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 21px;
    margin-right: 7px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2589d0;
    cursor: pointer;
  }

  .search-form button::after {
    width: 15px;
    height: 15px;
    text-align: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    content: "";
  }

  main {
    background-color: white;
    border-radius: 15px;
    /*要素を丸くする */
    border-width: 100px;
    /* 上、右、下、左の順に指定 */
    float: right;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px solid black;
    /* 2pxの幅で黒い縁線を追加 */
    padding-top: 4px;
    padding-right: 10px;
    /* 右側に20pxのパディングを設定 */
    /* scroll-snap-align: start; */
  }

  .simplebar-track {
    background: #e5e5e5;
    /* バーの背景色を設定できます*/
    border-radius: 10px;
    /* バーに丸みをもたせる*/
    left: 240px;
  }

  .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
    /* デフォルトだと薄くなっています。*/
  }

  .simplebar-track .simplebar-scrollbar::before {
    background: #abbdda;
    /* ここでバーの色を設定 */
  }

  .scroll-area {
    width: 250px;
    height: 575px;
    left: 5px;
    border-radius: 20px;
    /* バーに丸みをもたせる*/
    bottom: 2px;
  }

  section {
    background: #fdf6e9;
    color: #000;
    padding: 11px;
    width: auto;
    height: auto;
    /* margin-bottom: 9px; */
    border-radius: 26px;
  }

  .box1 {
    width: 232px;
    border: 2px solid #8faadc;
    color: #000;
    margin-bottom: 3px;
    border-radius: 26px;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .box2 {
    width: 232px;
    background: #ffd966;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  .box3 {
    width: 232px;
    background: #ff6969;
    color: #000;
    padding: 2px;
    margin-bottom: 3px;
    border-radius: 26px;
    position: relative;
    /* 相対位置を指定 */
    z-index: 1;
    /* 他の要素より手前に配置 */
    word-wrap: break-word;
  word-break: keep-all;
  }

  a.article {
    text-decoration: none;
  }

  article {
    background: #fdf6e9;
    color: #000;
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bolder;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .home {
    display: none;
  }

  .question {
    display: none;
  }

  .answers-num {
    display: none;
  }

  .article-category {
    font-size: 9px;
    background-color: #f2f2f2;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .unsolved-category {
    background-color: #8faadc;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
    word-wrap: break-word;
  word-break: keep-all;
  }

  .Notanswered-category {
    background-color: #ffd966;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }

  .answered-category {
    background-color: #ff6969;
    border-radius: 15px;
    color: #000000;
    padding: 2px 5px 2px 5px;
    margin-right: 3px;
  }
  .format-private {
    font-size: 9px;
    background-color: #191970;
    border-radius: 15px;
    color: #ffffff;
    font-family: bold;
    padding: 2px 5px 2px 5px;
  }
  .format-exchange {
    font-size: 9px;
    background-color: #87ceeb;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }
  .format-qa {
    font-size: 9px;
    background-color: #ffa500;
    border-radius: 15px;
    color: #ffffff;
    padding: 2px 5px 2px 5px;
  }

  .unsolved-category-answer,
  .Notanswered-category-answer,
  .answered-category-answer {
    bottom: 10px;
    position: absolute;
    /* 絶対位置を指定 */
    z-index: 2;
    /* 他の要素より手前に配置 */
  }

  @import url("https://fonts.googleapis.com/css?family=Roboto|Noto+Sans|Open+Sans&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
  .PostDay {
    font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
    font-size: 0.9rem; /* またはサイトのデザインに合わせて調整 */
    color: #333; /* カラーコードはサイトのデザインに合わせて調整 */
  }

  .UserName {
    font-family: "Noto Sans JP", sans-serif;
  }

  .notification {
    display: none;
  }

  .login {
    display: none;
  }

  .post {
    display: none;
  }

  aside {
    display: none;
  }

  .rank {
    display: none;
  }

  .item {
    display: none;
  }
}