.logo {
  width: 230px;
}

header {
  background: #f2f2f2;
  /*ヘッダーの背景色 */
  color: #fff;
  /* ヘッダーの文字色 */
  padding: 9px;
}

.home {
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
}
.question {
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
}

.search {
  width: 20%;
  background-color: #7f7f7f;
}

::placeholder {
  color: #e6e6e6;
  text-align: left;
}

.POST {
  width: 10%;
}

nav {
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: #fff;
  color: #000;
  /* ナビの文字色 */
  padding: 9px;
  /* ナビの上下左右の間隔 */
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: #fff;
  max-width: 1300px;
}

main {
  float: right;
  width: 70%;
  background: #fff;
  padding: 2px;
  box-sizing: border-box;
}

h1 {
  margin: 5px 0;
  font-size: 20px;
}
h2 {
  margin: 5px 0;
  font-size: 28px;
}
h3 {
  margin: 10px 0;
}
h4 {
  border-bottom: 2px solid #000;
}
h5 {
  border-bottom: 2px solid #000;
}
h6 {
  margin: 0;
  font-size: 25px;
}
h7 {
  font-weight: bolder;
}

section {
  background: #fff;
  color: #000;
  padding: 2px;
  /* margin-bottom: 9px; */
}

article {
  background: #fff;
  color: #000;
  padding: 2px;
}

aside {
  float: left;
  width: 30%;
  padding: 9px;
  box-sizing: border-box;
  background-color: #e5ef99;
}
p {
  height: 80%;
  background: #fff2cc;
  color: #000;
  padding: 9px;
  font-family: "Arial", "BIZ UDPゴシック";
}

.container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  background: #5397d4;
  padding: 2px;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}
.article-category {
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.unsolved-category {
  background-color: #ffd966;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
