body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: #fff;
  max-width: 1980px;
}

h2 {
  margin: 10px 0;
}

h3 {
  margin: 2px 0;
}

h4 {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.background {
  background-color: #f2f2f2;
  border: 10px solid #e3e9ee;
  /* ページ全体に10pxの灰色のボーダーを設定 */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  background-color: #f2f2f2;
  /* ヘッダーの背景色を設定 */
  color: #fff;
  /* テキストの色を設定 */
  padding: 10px;
  /* 内側の余白を設定 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98.3%;
  border: 2px solid white;
  margin-bottom: 10px;
}

.home {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
  margin-right: 5px;
  margin-left: 15px;
  font-size: 25px;
}

.question {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
  margin-right: 15px;
  font-size: 25px;
}

.search-form {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
}

.search {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px 0 0 8px;
  width: 250px;
  background-color: #f8f8f8;
  border: 2px solid #7f7f7f;
  font-size: 25px;
}

::placeholder {
  color: #666666;
  text-align: left;
  font-family: "Arial Black", "MS Gothic";
  padding-left: 3px;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  margin-right: 7px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #2589d0;
  cursor: pointer;
}

.search-form button::after {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  content: "";
}

.notification {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  text-decoration: none;
  margin-right: 20px;
  font-size: 29px;
}

.login {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 8px;
  font-family: "Arial Black";
  color: white;
  background-color: #afdfe4;
  border: #afdfe4;
  border-radius: 8px 8px 8px 8px;
  font-size: 25px;
  text-decoration: none;
}

.post {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 10px;
  font-family: "Arial Black";
  color: white;
  background-color: #92d050;
  border: #92d050;
  border-radius: 8px 8px 8px 8px;
  font-size: 25px;
  text-decoration: none;
}

.logo img {
  margin-left: 5px;
  margin-right: 40px;
  max-width: 150px;
  /* ロゴ画像の
最大幅を設定 */
}

nav ul {
  list-style: none;
  /* リストのマーカーを非表示に */
  padding: 0;
  display: flex;
  gap: 30px;
  background-color: #fff;
  border-radius: 8px 8px 8px 8px;
}

main {
  /* 上、右、下、左の順に指定 */
  float: right;
  width: calc(98.3% - 20px);
  height: 100%;
  margin-left: 38px;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  /* 右側に20pxのパディングを設定 */
  /* 右側に20pxのパディングを設定 */
  overflow: auto;
  scroll-snap-align: start;
}

main::-webkit-scrollbar {
  width: 13px;
}

main::-webkit-scrollbar-track {
  background-color: #eff2f7;
  border-radius: 100px;
}

main::-webkit-scrollbar-thumb {
  background: #abbdda;
  border-radius: 100px;
  width: 130px;
}


.box1 {
  border: 2px solid #8faadc;
  color: #000;
  margin-bottom: 6px;
  border-radius: 26px;
  background: #fdf6e9;
  padding: 11px;
  border-radius: 8px 8px 8px 8px;
}

.box2 {
  border: 2px solid #ffd966;
  color: #000;
  margin-bottom: 6px;
  border-radius: 26px;
  background: #fdf6e9;
  padding: 11px;
  border-radius: 8px 8px 8px 8px;
}

.box3 {
  border: 2px solid #ff6969;
  color: #000;
  margin-bottom: 6px;
  border-radius: 26px;
  background: #fdf6e9;
  padding: 11px;
  border-radius: 8px 8px 8px 8px;
}


h3 {
  margin: 2px 0;
}

h1 {
  margin: 2px 0;
  font-size: 15px;
  font-weight: normal;
}

.article-category {
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
}

.unsolved-category {
  background-color: #8faadc;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.unsolved-category {
  background-color: #8faadc;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Notanswered-category {
  background-color: #ffd966;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}

.answered-category {
  background-color: #ff6969;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}

.format-private{
  background-color: #191970;
  border-radius: 15px;
  color: #ffffff;
  font-family: bold;
  padding: 5px 8px 5px 8px;
}
.format-exchange{
  background-color: #87ceeb;
  border-radius: 15px;
  color: #ffffff;
  padding: 5px 8px 5px 8px;
}
.format-qa{    
  background-color: #ffa500;
  border-radius: 15px;
  color: #ffffff;
  padding: 5px 8px 5px 8px;
}


blockquote {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.total {
  margin-left: 900px;
  /* .unsolved-category-answer と同じスタイルを持たせる */
  position: absolute;
  /* 絶対位置を指定 */
  z-index: 2;
  /* 他の要素より手前に配置 */
  bottom: 1px;
}

.answer5 {
  position: relative;
  /* 相対位置を指定 */
  z-index: 1;
  /* 他の要素より手前に配置 */
}

.name {
  font-weight: bolder;
  margin-top: 1px;
  margin-bottom: 1px;
}

.date {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
}

.name {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
}

.large {
  background: #fdf6e9;
  color: #000;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left: 15px;
  font-size: 28px;
  font-weight: bolder;
  margin-top: 1px;
  margin-bottom: 1px;
}
.ans-count {
  background: #fdf6e9;
  color: #000;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left: 15px;
  font-size: 28px;
  font-weight: bolder;
  margin-top: 1px;
  margin-bottom: 1px;
}

.border {
  border-top: 1px solid #000;
  /* 線の色と太さを指定 */
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-medium {
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
  font-weight: bolder;
}

.text-small {
  margin-left: 15px;

  font-size: 18px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.text-Extremely-small {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

/* 各回答のセクション */
.response {
  border: 2px solid #ccc; /* 線の太さを調整 */
  border-radius: 5px 5px 5px 5px; /* 右下と左下だけを丸くする */
  padding: 0.5em;
  background-color: #ffffff;
  margin-bottom: 1em; /* 下部に1emのマージンを追加 */
  margin-top: 1em; /* 上部にもマージンを追加して隙間を作る */
}

/* 回答コンテナ */
.responses {
  background-color: transparent; /* この背景を透明にする */
  padding: 1em; /* コンテナ全体のパディングを設定 */
}

.reply {
  margin-left: 15px;
}

.content-and-button {
  display: flex;
  align-items: center; /* コンテンツとボタンを縦方向に中央揃えにする場合 */
  justify-content: space-between; 
}

.response-button {
  background-color: #ff6969;
  margin-left: auto; 
  margin-right: 30px;
  cursor: pointer;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px 8px 8px 8px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f08080;
    /* ホバー時の背景色 */
  }
}

.comment {
  background: #fdf6e9;
  color: #333333;
  font-family: "あおとゴシック R";
  padding: 3px;
  margin-left: 20px;
  font-size: 19px;
  font-weight: bolder;
  margin-top: 1px;
  margin-bottom: 10px;
}

.reply-form-container {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#replyInput {
  width: 1100px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  font-family: "あおとゴシック R";
}

.button-container {
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
  font-family: "あおとゴシック R";
}

.submit-button {
  height: 35px;
  width: 100px;
  color: #fff;
  background: #55c500;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.cancel-button {
  width: 100px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  background: #f5f6f6;
  border: 2px solid #ccc;
  border-radius: 5px;
}



.resolved-answer {
  background-color: #e8f5e9; /* 解決された回答の背景色 */
  border-left: 4px solid #4caf50; /* 左側のボーダー */
}

.text {
  font-size: 16px;
  margin: 10px;
  width: 20%;
  height: 20px;
  background-color: #f2f2f2;
  font-weight: bold;
  /* または font-weight: 700; */

  border-radius: 8px 8px 8px 8px;
}

.text::placeholder {
  color: #666666;
}

#editor_area {
  display: block;

  min-height: 200px;
  clear: none;
  margin-bottom: 1rem;
  position: relative;
  top: 10px;
  background: #fff;

  border: 2px solid #ccc; /* 線の太さを調整 */
  border-radius: 5px 5px 5px 5px; /* 右下と左下だけを丸くする */
}
/* 調整したいツールバー項目のスタイル */

.ql-toolbar.ql-snow {
  border: 2px solid #ccc;
  border-radius: 5px 5px 0 0; /* 右下と左下だけを丸くする */
  background: #fff;
}
.ql-container {
  height: auto;

  min-height: 200px;
}

@media (max-width: 750px) {
  #editor_area {
    width: 100%;
  }
}
#editor_area {
  font-size: 20px;
}
#answer-button {
  cursor: pointer;

  margin-left: 1200px;
  /* ボタンとテキストエリアの間に余白を追加 */
  background-color: #55c500;
  border: none;
  right: 20px;
  /* 任意の値を指定して調整 */
  position: relative;
  margin-bottom: 10px;
  width: 120px;
  /* 任意の幅を指定 */
  height: 40px;
  /* 任意の高さを指定 */
  font-size: 18px;
  color: #fff;
  /* 黒色の文字色 */
  font-weight: bold;
  /* または font-weight: 700; */

  margin-left: auto;
  border-radius: 8px 8px 8px 8px;
  display: block;
  /* 要素をブロック要素に変更 */
  margin-right: 0;
  /* 右側のマージンを0に設定 */
  transition: background-color 0.3s ease;
  /* 背景色の変化をアニメーション化 */

  &:hover {
    background-color: #3f9d00;
    /* ホバー時の背景色 */
  }
}
.box1 {
  border: 2px solid #8faadc;
  color: #000;
  margin-bottom: 6px;
  border-radius: 26px;
  background: #fdf6e9;
  padding: 11px;
  border-radius: 8px 8px 8px 8px;
}

.box2 {
  border: 2px solid #ffd966;
  color: #000;
  margin-bottom: 6px;
  border-radius: 26px;
  background: #fdf6e9;
  padding: 11px;
  border-radius: 8px 8px 8px 8px;
}

.box3 {
  border: 2px solid #ff6969;
  color: #000;
  margin-bottom: 6px;
  border-radius: 26px;
  background: #fdf6e9;
  padding: 11px;
  border-radius: 8px 8px 8px 8px;
}

blockquote {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.article-category {
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
}

.unsolved-category {
  background-color: #8faadc;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Notanswered-category {
  background-color: #ffd966;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}

.answered-category {
  background-color: #ff6969;
  border-radius: 15px;
  color: #000000;
  padding: 5px 8px 5px 8px;
}
.comment {
  margin-bottom: 10px;
}
#replyButton1 {
  width: 1100px;
  height: 50px;
  clear: none;
  margin-bottom: 1rem;
  position: relative;

  background: #fff;

  border: 2px solid #ccc; /* 線の太さを調整 */
  border-radius: 5px 5px 5px 5px; /* 右下と左下だけを丸くする */
  font-family: "あおとゴシック R";
}

#replyButton1::placeholder {
  color: #666666;
  font-weight: bold;
}
