header {
  background-color: #f2f2f2;
  /* ヘッダーの背景色を設定 */
  color: #fff;
  /* テキストの色を設定 */
  padding: 10px;
  /* 内側の余白を設定 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98.3%;
  border: 2px solid white;
}

.header .logo img {
  background-color: #f2f2f2;
  /* ヘッダーの背景色を設定 */
  color: #fff;
  /* テキストの色を設定 */
  padding: 10px;
  /* 内側の余白を設定 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98.3%;
  border: 2px solid white;
}

.home {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
  margin-right: 5px;
  margin-left: 15px;
  font-size: 25px;
}

::placeholder {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #c9c6c6;
}

.logo img {
  margin-left: 5px;
  margin-right: 40px;
  max-width: 150px;
  /* ロゴ画像の
    最大幅を設定 */
}

/* ボタンのスタイル */
.save {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  /* 余白をなくす */
  font-size: 29px;
  font-family: "Arial Black";
  background-color: #9dc3e6;
  color: #fff;
  /* アイコンの色を緑に変更 */
  border-radius: 8px 8px 8px 8px;
  margin-left: 700px;
}

.post {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  /* 余白をなくす */
  font-size: 29px;
  font-family: "Arial Black";
  background-color: #92d050;
  color: #fff;
  /* アイコンの色を緑に変更 */
  border-radius: 8px 8px 8px 8px;
  margin-left: 20px;
}

.box1 {
  display: flex;
  justify-content: center;
  /* 要素を水平方向に中央寄せ */
}

.list {
  width: 15%;
  font-size: 15px;
  min-height: 50px;
  max-height: 200px;
  margin-left: 20px;
  border: 2px solid #c0c0c0;
  border-radius: 8px 8px 8px 8px;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.text {
  width: 85%;
  font-size: 24px;
  border: 2px solid #c0c0c0;
  margin-right: 13px;
  border-radius: 8px 8px 8px 8px;
}

/* .photo {
  background: none;
  cursor: pointer;
  border: 2px solid #c0c0c0;
  padding: 10px;
  color: #a8a7a7;
  position: relative;
  top: 5px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
}
.photo:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  background-color: #f2f2f2;
} */

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
}

/*タグアイコン*/
.fa-solid.fa-tags {
  padding: 10px;
  margin-left: 20px;
  border: 2px solid #c0c0c0;
  /* 例: 枠線をオレンジ色に設定 */
  z-index: -1;

  right: 22px;
  color: #a8a7a7;
  /* アイコンの色を緑に変更 */
  position: relative;
  top: 5px;
  border-right: none;
  border-left: none;
}

/*タグ関連*/
button.ms-choice {
  min-height: 56px;
  max-height: 200px;
  margin-top: 10px;
  margin-left: -25px;
  border: 2px solid #c0c0c0;
  border-radius: 0px 8px 8px 0px;
  border-left: none;
}

/* フォントサイズを変更する */
.ms-choice span {
  font-size: 20px;
  margin-top: 23px;
  margin-left: -35px;
}

div.icon-caret {
  margin: 20px;
}

/*鉛筆とか*/
.fa-solid.fa-border {
  border: 2px solid #c0c0c0;
  /* 例: 枠線をオレンジ色に設定 */

  padding: 10px;
  color: #a8a7a7;
  /* アイコンの色を緑に変更 */
  position: relative;
  top: 5px;
  left: 15px;
  border-radius: 8px 8px 8px 8px;
}

/* .pencil {
  color: #a8a7a7;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
} */

/* .book {
  color: #a8a7a7;

  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
} */

/* .eye {
  color: #a8a7a7;

  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
} */

.textarea {
  width: 97.5%;
  height: 100vh;
  font-size: 28px;
  /* 例: フォントサイズを16ピクセルに設定 */
  box-sizing: border-box;
  /* ボックスモデルを調整 */
  margin: 10px 0;
  /* 上下に10pxのマージンを設定 */
  border: 2px solid #c0c0c0;
  border-radius: 8px 8px 8px 8px;
  margin-left: 20px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  /* 左の余白 */
  margin-right: 5px;
  /* 右の余白 */
}

.tooltip-container .tooltip {
  visibility: hidden;
  background-color: #fff;
  border: 2px solid #c0c0c0;

  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;

  transform: translateX(-50%) translateY(-5px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  width: auto;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.button1 .fas {
  background: none;
  cursor: pointer;
  border: 2px solid #c0c0c0;
  padding: 9.5px;
  color: #a8a7a7;
  position: relative;
  top: 5px;
  left: 3px;
  font-size: 33px;
  border-radius: 8px 0 0 8px;
}

.button1 .tooltip {
  left: 100%;
  bottom: 80%;
}

.button2 .fas {
  color: #a8a7a7;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button2 .tooltip {
  bottom: 120%;
  left: 50%;
  font-weight: normal;
}

.button3 .fas {
  color: #a8a7a7;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button3 .tooltip {
  bottom: 120%;
  left: 50%;
  font-weight: normal;
}

.button4 .fas {
  color: #a8a7a7;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button4 .tooltip {
  bottom: 120%;
  left: 50%;
  font-weight: normal;
}

/* ここからがモーダルウィンドウのcss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Style for the modal content */
.modal-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for the close button */
.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

/* Additional styles for the photo and modal animation */
.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal-content img.loaded {
  opacity: 1;
}

.modal.fade-in {
  animation: fadeInModal 0.5s ease-in-out;
}

.modal.fade-out {
  animation: fadeOutModal 0.5s ease-in-out;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Additional styles for custom file upload button */
#photoInput {
  display: none;
  /* 標準のファイル名表示を非表示にする */
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* ここまでがモーダルウィンドウのcss */
