header {
  background-color: #f2f2f2;
  /* ヘッダーの背景色を設定 */
  color: #fff;
  /* テキストの色を設定 */
  padding: 10px;
  /* 内側の余白を設定 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98.3%;
  border: 2px solid white;
}

.header .logo img {
  background-color: #f2f2f2;
  /* ヘッダーの背景色を設定 */
  color: #fff;
  /* テキストの色を設定 */
  padding: 10px;
  /* 内側の余白を設定 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98.3%;
  border: 2px solid white;
}

.home {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Arial Black";
  text-decoration: none;
  margin-right: 5px;
  margin-left: 15px;
  font-size: 25px;
}

::placeholder {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #c9c6c6;
}

.logo img {
  margin-left: 5px;
  margin-right: 40px;
  max-width: 150px;
  /* ロゴ画像の
    最大幅を設定 */
}

/* ボタンのスタイル */
.save {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  /* 余白をなくす */
  font-size: 29px;
  font-family: "Arial Black";
  background-color: #9dc3e6;
  color: #fff;
  /* アイコンの色を緑に変更 */
  border-radius: 8px 8px 8px 8px;
  margin-left: 700px;
}

.post {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  /* 余白をなくす */
  font-size: 29px;
  font-family: "Arial Black";
  background-color: #92d050;
  color: #fff;
  /* アイコンの色を緑に変更 */
  border-radius: 8px 8px 8px 8px;
  margin-left: 20px;
}

.box1 {
  display: flex;
  justify-content: center;
  /* 要素を水平方向に中央寄せ */
}

.list {
  /* width: 15%; */
  position: relative;
  width: 200px;
  font-size: 15px;
  min-height: 50px;
  max-height: 200px;
  margin-left: 20px;

  border: 2px solid #c0c0c0;
  border-radius: 8px 8px 8px 8px;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.text {
  /* width: 85%; */
  position: relative;
  width: 1100px;
  font-size: 24px;
  border: 2px solid #c0c0c0;
  /* margin-right: 13px; */
  border-radius: 8px 8px 8px 8px;
}

/* .photo {
  background: none;
  cursor: pointer;
  border: 2px solid #c0c0c0;
  padding: 10px;
  color: #a8a7a7;
  position: relative;
  top: 5px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
}
.photo:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  background-color: #f2f2f2;
} */

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 33px;
}

/*タグアイコン*/
.fa-solid.fa-tags {
  padding: 10px;
  border: 2px solid #c0c0c0;
  /* 例: 枠線をオレンジ色に設定 */
  z-index: -1;
  border-radius: 8px 0 0 8px;
  right: 22px;
  color: #a8a7a7;
  /* アイコンの色を緑に変更 */
  position: relative;
  top: 5px;
  border-right: none;
}

/*タグ関連*/
button.ms-choice {
  min-height: 56px;
  max-height: 200px;
  margin-top: 10px;
  margin-left: -25px;
  border: 2px solid #c0c0c0;
  border-radius: 0px 8px 8px 0px;
  border-left: none;
}

/* フォントサイズを変更する */
.ms-choice span {
  font-size: 20px;
  margin-top: 23px;
  margin-left: -35px;
}

div.icon-caret {
  margin: 20px;
}

/* .pencil {
  color: #a8a7a7;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
} */

/* .book {
  color: #a8a7a7;

  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
} */

/* .eye {
  color: #a8a7a7;

  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
} */

/* wysiwygのコードここから */
#app {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 18px;
  top: 10px;
}

#editor_area {
  display: block;
  width: 1230px;
  min-width: 300px;
  min-height: 300px;
  clear: none;
  margin-bottom: 1rem;
  position: relative;
  top: 10px;
  border: 2px solid #ccc;
  /* 線の太さを調整 */
  border-radius: 5px 5px 5px 5px;
  /* 右下と左下だけを丸くする */
}

/* 調整したいツールバー項目のスタイル */

.ql-container {
  height: auto;
  min-height: 200px;
}

@media (max-width: 750px) {
  #editor_area {
    width: 100%;
  }
}

#editor_area {
  font-size: 24px;
}

/* wysiwygのコードここまで */